
<div class="jumbotron center" style="margin-top:25px">
	<h1>Welcome to my App.</h1>
		<p>We are here to make you laugh</p>


			<p>
				<%= link_to "Login", new_user_session_path, class: "	btn btn-info"  %> 
				<%= link_to "Sign up", new_user_registration_path, class: "	btn btn-info"  %> 
			</p>



</div>

