<div class="jumbotron center"
	<h1></h1>
	<h1>Welcome to my App.</h1>
		<p>We are here to make you laugh</p>
		<p>
				<%= link_to "WhiteMan", "
					 https://pinteresting-ii.herokuapp.com/whiteman", class: "	btn btn-info"  %> 
				<%= link_to "FortuneCookies500", "https://pinteresting-ii.herokuapp.com/fortunecookies", class: "btn btn-info" %>
				<%= link_to "GargleOil", "https://pinteresting-ii.herokuapp.com/GargleOil", class: "btn btn-info" %>
			</p>	
	
</div>

