<div class="jumbotron"
	<h1>Welcome to my App</h1>
	<p>click here for <%= link_to "WhiteMan", "http://localhost:3000/whiteman", class: "btn btn-info" %>.</p>
	<p>hi I'm still the homepage</p>
</div>

