<div class="jumbotron center"
	<h1></h1>
	<h1>Welcome to my App.</h1>
		<p>We are here to make you laugh</p>
		<p>
				
				<%= link_to "FortuneCookies500", "http://localhost:3000/fortunecookies", class: "btn btn-info" %>
				<%= link_to "GargleOil", "http://localhost:3000/GargleOil", class: "btn btn-info" %>
			</p>	
	
</div>

